<div class="container">
    <nav class="navbar-fixed" style="background: transparent;">
        <div class="nav-wrapper">
            <a routerLink="/home" routerLinkActive="active" class="brand-logo left">KIOSK</a>
            <!-- <ul class="right hide-on-med-and-down right">
                <li>
                    <b>Rohan Borse</b> &nbsp;
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ0g-UATwhvdb7Zt7SUoZZEjb2kWnNtQR0KW_lVfb62OYKRItf" width="35" height="35" class="circle right" style="margin-top:15px;border-radius: 50%; margin-right: 15px;">
                </li>
                <li><a class="red btn">Logout</a></li>
            </ul> -->
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col l8 s12">
            <div class="row">
                <div class="col s12">
                    <!-- videoo start -->
                    <div class="card z-depth-5">
                        <div class="video-container">
                            <iframe class="img1" width="600" height="315" [attr.src]="link" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <span class="badge" style="margin-top:31px;margin-right:12px;"><b>5 min ago</b></span>
                        <div class="card-content">
                            <p>
                                <i class="material-icons">location_on</i>
                                <span style="font-size:17px;"><b>{{name}}</b></span>
                            </p>
                            <p><span class="text-grey text-darken-2">{{address}}</span></p>
                        </div>
                    </div>
                    <!-- video end  -->
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <!-- map start -->
                    <div class="card">
                        <agm-map [latitude]="lat" [longitude]="lng" [fitBounds]="true" [fullscreenControl]="true" [usePanning]="false" [disableDefaultUI]="true" [zoom]="12" [mapTypeControl]="true">
                            <agm-marker [latitude]="lat" [longitude]="lng" [agmFitBounds]="true" [animation]="'BOUNCE'">
                                <agm-info-window [disableAutoPan]="true">
                                    {{name}} <strong> <br/>{{address}}</strong>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                        <!-- <div id="map"></div> -->
                    </div>
                    <!-- map end -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l4 s12">
                <div class="col l12 s12">

                    <ul class="collection with-header ">
                        <li class="collection-header center orange lighten-1 white-text">
                            <p><b>Near by Police Station</b></p>
                        </li>
                        <li class="collection-item avatar" *ngFor="let police_list of police_list">
                            <p>
                                <i class="material-icons text-grey text-darken-3"> security</i>{{ police_list.name}}<br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  local_phone</i>{{ police_list.phone_number}}<br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3"> near_me</i>
                                <span class="text-grey text-darken-2">{{ police_list.address}}</span><br />
                            </p>

                            <a href="#" class="secondary-content" style="color:grey"><i class="material-icons">room</i>{{ police_list.distance}}</a>
                        </li>

                    </ul>
                </div>

                <div class="col l12 s12">
                    <ul class="collection with-header">
                        <li class="collection-header center blue lighten-1 white-text">
                            <p><b>Near by Hospitals </b></p>
                        </li>



                        <li class="collection-item avatar" *ngFor="let hospital_list of hospital_list">
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  local_hospital</i>{{hospital_list.name}}<br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  local_phone</i>{{ hospital_list.phone_number}}<br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3"> near_me</i>
                                <span class="text-grey text-darken-2">
                                    {{ hospital_list.address}}</span><br />
                            </p>

                            <a href="#" class="secondary-content" style="color:grey">
                                <i class="material-icons">room</i>{{ hospital_list.distance}}</a>
                        </li>
                    </ul>
                </div>

                <div class="col l12 s12">
                    <ul class="collection with-header">
                        <li class="collection-header center red lighten-1 white-text">
                            <p><b>Near by Volunteers </b></p>
                        </li>
                        <li class="collection-item avatar">
                            <!-- <img src="images/yuna.jpg" alt="" class="circle" /> -->
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  account_circle</i> Rohan Borse<br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  local_phone</i> +91-8055389747
                                <br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3"> near_me</i>
                                <span class="text-grey text-darken-2">Bytco hospital,Nasik Mahanagar Pali, Jdc Bytco, Nasik Road,
                  Nashik 422214</span>
                                <br />
                            </p>

                            <a href="#!" class="secondary-content" style="color:grey">
                                <i class="material-icons">room</i>150 m</a>
                        </li>

                        <li class="collection-item avatar">
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  account_circle</i> Rushikesh Patil<br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3">
                  local_phone</i> +91-7767057209
                                <br />
                            </p>
                            <p>
                                <i class="material-icons text-grey text-darken-3"> near_me</i>
                                <span class="text-grey text-darken-2">Sahyadri hospital,Mumbai-Agra Road, Wadala Rd, Dwarka Circle,
                  Near, Nashik, Maharashtra 422001</span>
                                <br />
                            </p>

                            <a href="#!" class="secondary-content" style="color:grey">
                                <i class="material-icons">room</i>1 km</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <swal #deleteSwal title="Do yo want to close case" text="This case remove from case list" type="info"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="case_close()">
</swal> -->
<!-- <div class="fixed-action-btn">
    <a class="btn-floating btn-large red pulse z-depth-5 tooltipped" data-position="top" data-tooltip="Case Close">
        <i class="large material-icons">clear</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
        </li>
        <li>
            <a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
        </li>
        <li>
            <a class="btn-floating green"><i class="material-icons">publish</i></a>
        </li>
        <li>
            <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
        </li>
    </ul>
</div> -->

<div class="section"></div>